<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content wow animated fadeIn">

          <div style="padding: 20px 0px 0px 0px;">
            <h2 class="text-center">Project Title</h2>
          </div>
          <div style="padding: 10px 0px 0px 0px;">
            <div style="text-align:center;font-size:14pt;">
              <div style="padding: 5px 0px 5px 0px">
                <a href="http://link-to-author-1-website/">Author 1<sup>&#8224</sup></a>,
                <a href="http://link-to-author-2-website/">Author 2<sup>&#8224</sup></a>
              </div>
              <div style="padding: 5px 0px 5px 0px">
                <span><sup>&#8224</sup> Your affiliation</span>
              </div>
              <div style="padding: 5px 0px 5px 0px">
                <div class="venue text-center"><b>CONFERENCE YEAR</b></div>
              </div>
            </div>
          </div>

          <div class="hero-buttons">

            {% if site.twitter_username != '' %}
              <a href="https://link-to-arxiv/"><button class="btn btn-default btn-lg"><i class="fa fa-paperclip fa-lg"></i>Paper</button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://link-to-youtube/"><button class="btn btn-default btn-lg"><i class="fa fa-youtube-play fa-lg"></i>YouTube</button></a>
            {% endif %}

          </div>

          <br>
          <div style="width:60%;margin-left:auto;margin-right:auto;">
          <img class="img-responsive" src="./res/eyecatch.png" title="title">
          </div>
          <br>

          <div class="section">
            <h3>Abstract</h3>
            <hr>
            <p>Abstract</p>
          </div>
          <br>
          <div class="section">
            <h3>Results</h3>
            <hr />
            <p>Results.</p>
            <div class="row align-items-center">
              <div class="col justify-content-center text-center">
                <video width="60%" playsinline="" autoplay="" loop="" preload="" muted="">
                  <source src="./res/sample-video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
          <br>
          <div class="section">
            <h3>Video</h3>
            <hr />
            <iframe class="youtube-video" src="https://www.youtube.com/embed/5kW0RtcJZC8" title="YouTube video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <br>
          <div class="section">
            <h3>Citation</h3>
            <hr />
            <div style="text-align:left;font-size:8px;">
              <pre><code>
@inproceedings{AuthorsYear,
  title={Paper title},
  author={Authors},
  booktitle={Conference},
  year={Year}
}
                </code></pre>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
