<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content wow animated fadeIn">

          <div style="padding: 20px 0px 0px 0px;">
            <h2 class="text-center"><span style="display: inline-block;">Virtual Inverse Perspective Mapping</span><span style="display: inline-block; margin-top: 8px;"> for Simultaneous Pose and Motion Estimation</span></h2>
          </div>
          <div style="padding: 10px 0px 0px 0px;">
            <div style="text-align:center;font-size:14pt;">
              <div style="padding: 5px 0px 5px 0px">
                <a href="http://www.hfr.iis.u-tokyo.ac.jp/members/hirano/index-e.html">Masahiro Hirano<sup>1</sup></a>,
                <a href="https://scc.ist.hokudai.ac.jp/~senoo/index-e.html">Taku Senoo<sup>2</sup></a>,
                Norimasa Kishi<sup>1</sup>,
                <a href="http://ishikawa-vision.org/members/ishikawa/ishikawa-e.html">Masatoshi Ishikawa<sup>1</sup></a>
              </div>
              <div style="padding: 5px 0px 5px 0px">
                <span><sup>1</sup> The University of Tokyo </span>,
                <span><sup>2</sup> Hokkaido University </span>
              </div>
              <div style="padding: 5px 0px 5px 0px">
                <div class="venue text-center"><b>arXiv 2023</b></div>
              </div>
            </div>
          </div>

          <div class="hero-buttons">

            {% if site.twitter_username != '' %}
              <a href="https://arxiv.org/abs/2303.05192"><button class="btn btn-default btn-lg"><i class="fa fa-paperclip fa-lg"></i>arXiv</button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://link-to-youtube/"><button class="btn btn-default btn-lg"><i class="fa fa-youtube-play fa-lg"></i>YouTube</button></a>
            {% endif %}

          </div>

          <br>
          <div style="width:60%;margin-left:auto;margin-right:auto;">
          <img class="img-responsive" src="./res/eyecatch.png" title="title">
          </div>
          <br>

          <div class="section">
            <h3>Background</h3>
            <hr>
            <p>移動体に搭載したビジョンを用いた対環境計測は，自動運転や先進運転支援システムにおけるキーテクノロジーである．移動体搭載ビジョンを用いた計測では，移動体や路面に対するイメージセンサの姿勢を正確に把握することが計測性能に直結するため，個体ごとの較正が必要であり，製造プロセスの効率化においてボトルネックとなってきた．さらに走行中の振動による姿勢のダイナミックな変化や較正時からの経年状態変化が性能に悪影響を及ぼす．このため，移動体搭載ビジョンの姿勢や移動量などの状態を高速・高精度かつロバストに把握する技術の開発が求められていた．</p>
            <p>本研究では，申請者が開発してきた高速ビジョンを用いた近接路面解析技術を応用し，移動体搭載ビジョンの状態を高速かつ高精度に把握するアルゴリズムを構築する．</p>
          </div>
          <br>
          <div class="section">
            <h3>How to analyze road texture?</h3>
            <hr>
            <p>
              hogehoge
              カーペットでベクトル場推定してる動画をつくる
            </p>
            <div class="row align-items-center">
              <div class="col justify-content-center text-center">
                <video width="60%" playsinline="" autoplay="" loop="" preload="" muted="">
                  <source src="./res/sample-video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
          <br>
          <div class="section">
            <h3>Virtual Inverse Perspective Mapping</h3>
            <hr>
            <p>
              移動中のイメージセンサの対路面姿勢と移動量を統一的にモデリングした上で, 路面画像を現在の推定量に合わせて逆透視投影変換を行うことにより路面のテクスチャ変化の計測精度を向上させるVirtual Inverse Perspective Mapping(V-IPM)を提案し，幾何バンドル調整の枠組みで最適化を行うことで，上述の量の高精度推定を可能とする手法を開発した．
            </p>
          </div>
          <br>
          <div class="section">
            <h3>Results</h3>
            <hr />
            <p>Results.</p>
            <div class="row align-items-center">
              <div class="col justify-content-center text-center">
                <video width="60%" playsinline="" autoplay="" loop="" preload="" muted="">
                  <source src="./res/sample-video.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
          <br>
          <div class="section">
            <h3>Video</h3>
            <hr />
            <iframe class="youtube-video" src="https://www.youtube.com/embed/5kW0RtcJZC8" title="YouTube video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <br>
          <div class="section">
            <h3>Citation</h3>
            <hr />
            <div style="text-align:left;font-size:8px;">
              <pre><code>
@article{hirano23vipm},
  title={Virtual Inverse Perspective Mappingfor Simultaneous Pose and Motion Estimation},
  author={Masahiro Hirano and Taku Senoo and Norimasa Kishi and Masatoshi Ishikawa},
  journal={arXiv},
  year={2023}
}
                </code></pre>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
